<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.ddnosh.arabbit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity android:name=".ui.webview.WebViewActivity" />
        <activity android:name=".ui.base.FrameActivity" />
    </application>
</manifest>